<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
    {{- block "title" . -}}
      {{- .Site.Title -}}
    {{- end -}}
    </title>
    <link href="{{ .Site.BaseURL }}index.xml" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ $basecss := resources.Get "css/style.css" }}
    {{ $style := $basecss | resources.Minify }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" />
    <link rel="stylesheet" href="/css/icomoon.min.css" />
    {{- block "css" . -}}
    {{ end }}
  </head>
  <body>
    <aside>
      <a href="{{ .Site.BaseURL }}">
        <img id="avatar" alt="Blog Avatar" src="{{ .Site.Params.avatar | relURL }}">
      </a>
      <div id="sitetitle">
        <a href="{{ .Site.BaseURL }}">
          {{- .Site.Title -}}
        </a>
      </div>
      <div id="sitesubtitle">
        {{- .Site.Params.Sitesubtitle -}}
      </div>
      <div id="navlinks">
      {{- range .Site.Menus.main -}}
        <a href="{{ .URL }}">{{ .Name }}</a>
      {{ end }}
      </div>
      <div id="social">
      {{- range .Site.Menus.social -}}
        <a href="{{ .URL }}"><i class="{{ .Name }}"></i></a>
      {{- end -}}
        <a href="{{ .Site.RSSLink }}"><i class="icon-rss"></i></a>
      </div>
    </aside>
    <main>
    {{- block "main" . -}}
    {{- end -}}
    <footer>
    {{- block "scripts" . -}}
    {{- end -}}
    {{ with .Site.Params.footer }}
      {{- . | markdownify -}}
    {{- end -}}
    </footer>
    </main>
  </body>
  </html>

