{{ define "css" }}
  {{ if isset .Params "lightbox" }}
    <link rel="stylesheet" href="/css/featherlight.min.css" />
  {{ end }}
  {{ if isset .Params "gallery" }}
    <link rel="stylesheet" href="/css/featherlight.min.css" />
    <link rel="stylesheet" href="/css/featherlight.gallery.min.css" />
  {{ end }}
{{ end }}
{{ define "title" }}
  {{ .Title }} – {{ .Site.Title }}
{{ end }}
{{ define "main" }}
<article>
  <header>
  <h1>
    <a href="{{ .Permalink }}">
      {{ .Title }}
    </a>
  <time datetime="{{ .Date.Format "1914-12-20" }}">
    {{ .Date.Format "02/01/2006" }}
  </time>
  </h1>
  <div class="meta">
  {{ range .Params.categories }}
    <a class="categories" href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">
      {{ . }}
    </a>
  {{ end }}
  {{ range .Params.tags }}
    - <a class="tags" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">
      #{{ . }}
    </a>
  {{ end }} 
  </div>
  </header>
  {{ if .TableOfContents }}
  <details>
    <summary>Table des Matières</summary>
    {{ .TableOfContents }}
  </details>
  {{ end }}
  {{ with .Params.song }}
  <div class="nowlistening">
  {{ . | markdownify }}
  </div>
  {{ end }}
  {{ .Content }}
<article>
  {{ $related := .Site.RegularPages.Related . | first 5 }}
{{ with $related }}
<h3>Billets en liens :</h3>
<ul>
	{{ range . }}
	<li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
	{{ end }}
</ul>
{{ end }}
  <script type="text/javascript" src="/hashover/hashover.js"></script>
  <noscript>Merci d'activer JavaScript pour voir les commentaires avec HashOver.</noscript>
{{ end }}
{{ define "scripts" }}
  <script src="{{ "js/jquery.min.js" | relURL}}"></script>
  {{ if isset .Params "lightbox" }}
    <script src="{{ "js/featherlight.min.js" | relURL}}"></script>
  {{ end }}
  {{ if isset .Params "gallery" }}
    <script src="{{ "js/featherlight.min.js" | relURL}}"></script>
    <script src="{{ "js/featherlight.gallery.min.js" | relURL}}"></script>
  {{ end }}
{{ end }}
