{{- define "css" -}}
  {{- with .Resources.Match "images/lightbox/*.*" -}}
    <link rel="stylesheet" href="/css/baguetteBox.min.css" />
  {{- end -}}
  {{- with .Resources.Match "images/gallery/*.*" -}}
    <link rel="stylesheet" href="/css/baguetteBox.min.css" />
  {{- end }}
    {{ $pygmcss := resources.Get "css/pygments.css" }}
    {{ $pygments := $pygmcss | resources.Minify }}
    <link rel="stylesheet" href="{{ $pygments.Permalink }}" />
{{- end -}}
{{- define "title" -}}
  {{ .Title }} – {{ .Site.Title }}
{{- end -}}
{{ define "main" }}
      <article>
        <header>
          <h1>
            <a href="{{ .Permalink }}">
              {{- .Title -}}
            </a>
            <time datetime="{{ .Date.Format "02 Jan 06 15:04 +01:00" }}">
              {{- .Date.Format "02/01/2006" -}}
            </time>
          </h1>
          <div class="meta">
          {{ range .Params.categories }}
		        <a class="categories" href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">
		          {{- . -}}
		        </a>
		        {{- end -}}
		        {{ range .Params.tags }}
		        <a class="tags" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">
		          {{- . -}}
		        </a>
          {{- end -}}
          </div>
        </header>
        {{- with .Params.song -}}
        <div class="nowlistening">
          {{- . | markdownify -}}
        </div>
        {{- end -}}
        {{ if .TableOfContents }}
        <details>
          <summary>Table des Matières</summary>
          {{- .TableOfContents -}}
        </details>
        {{- end -}}
        {{- .Content -}}
        {{- with .Resources.Match "images/gallery/*.*" -}}
          {{ partial "gallery" . }}
        {{- end }}
      </article>
      {{ $related := .Site.RegularPages.Related . | first 5 }}
      {{ with $related }}
      <h3>Billets en liens :</h3>
        <ul>
        {{ range . }}
          <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ end }}
        </ul>
      {{ end }}
      {{ if .Site.Params.comments }}
      <script defer data-isso="{{ .Site.Params.isso_server }}"
        src="{{ .Site.Params.isso_server }}/js/embed.min.js"
        async >
      </script>
      <section id="isso-thread"></section> 
      {{ end }}
      {{ end }}
      {{- define "scripts" -}}
      {{- with .Resources.Match "images/lightbox/*.*" -}}
      <script src="{{ "js/baguetteBox.min.js" | relURL}}"></script>
      <script>baguetteBox.run('figure', {
        captions: function(element) {
            return element.getElementsByTagName('img')[0].alt;
}});</script>
      {{- end -}}
      {{- with .Resources.Match "images/gallery/*.*" -}}
      <script src="{{ "js/baguetteBox.min.js" | relURL}}"></script>
      <script>baguetteBox.run('.gallery', {
        captions: function(element) {
            return element.getElementsByTagName('img')[0].alt;
}});</script>
      {{- end -}}
{{ end }}
