{{ define "main" }}
<header>
  <h1>
    {{ .Title }}
  </h1>
</header>
<div class="taxonomy">
    {{ $data := .Data }}
    {{ range $key, $value := .Data.Terms }}
        <a class="label label-info" href="/{{ $data.Plural }}/{{ $key | urlize }}">{{ $key }} ({{ len $value }})</a>
    {{ end }}
</div>

{{ end }}
